<! -- David Grethlein, djg329@drexel.edu -->
<! -- Rubix Cube Base Template -->

<!DOCTYPE html>
<html>

<head>
    <title> Rubix Cube Solver - {% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/css/bootstrap-social.css" rel="stylesheet">

    <link rel="stylesheet" href="/lib/fontawesome/css/all.css">
    <link href="/css/main.css" rel="stylesheet">

    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/popper/popper.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            /* Closes any open side nav drop downs when closing sidenav */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].classList.remove('active');
                var dropdownContent = dropdown[i].nextElementSibling;

                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                }
            }
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "auto";
            document.getElementById("header_bar").style.marginLeft = "auto";
        }
    </script>


    <header>
        <div class="container" id="header_bar">
            <div class="row">
                <div class="col-sm" id="explore_col">
                    <button onclick="openNav()" id="explore_button">
                        &#9776; Learn More
                        <img src="img/twisty_cube.png" style="max-height: 60px;">
                    </button>
                </div>
                <div class="col-sm" id="account_col">
                    <button id="log_in_button" onclick="logIn()">
                        <i class="fas fa-user-lock"></i> Log In
                    </button>
                    <button id="sign_up_button" onclick="signUp()">
                        <i class="fas fa-user-plus"></i> Sign Up
                    </button>
                </div>
            </div>
        </div>


        <div id="mySidenav" class="sidenav">
            <img src="img/twisty_cube.png" style="max-width: 100%;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                &times;
            </a>
            <button class="dropdown-btn">External Links
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a class="btn btn-block btn-social btn-pinterest" href="https://ruwix.com/the-rubiks-cube/how-to-solve-the-rubiks-cube-beginners-method/">
                    <span class="fa fa-cube"></span>Rubik's Cube Solutions
                </a>
                <a class="btn btn-block btn-social btn-openid" href="https://www.worldcubeassociation.org/results/rankings/333/single">
                    <span class="fa fa-trophy"></span>Global Rankings
                </a>
                <a class="btn btn-block btn-social btn-github" href="https://github.com/dgrethlein/RubixCube">
                    <span class="fab fa-github"></span>Project GitHub
                </a>
                <a class="btn btn-block btn-social btn-soundcloud" href="https://dgrethlein.github.io/RubixCube/">
                    <span class="fas fa-file-code"></span>Documentation
                </a>
                <a class="btn btn-block btn-social btn-facebook" href="https://davidgrethlein.dev">
                    <span class="fa fa-user-circle"></span>About the Author
                </a>
            </div>
        </div>

        <script>
            /* Code adapted from https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp */
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown
               content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click",
                function() {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
              });
            }
        </script>
    </header>

    <main>
        <div class="container content" id="main" onclick="closeNav()">
            {% block content %}{% endblock %}
        </div>
    </main>
<body>