<! -- David Grethlein, djg329@drexel.edu -->
<! -- Rubix Cube Base Template -->

<!DOCTYPE html>
<html>

<head>
    <title> Rubix Cube Solver - {% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/main.css" rel="stylesheet">

    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/popper/popper.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm" id="explore_button">
                    <span onclick="openNav()">
                        &#9776; Explore the Site
                        <img src="img/twisty_cube.png" style="max-height: 40px;">
                    </span>
                </div>
            </div>
        </div>


        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                &times;
            </a>
            <a class="btn btn-block btn-social btn-pinterest" href="https://ruwix.com/the-rubiks-cube/how-to-solve-the-rubiks-cube-beginners-method/">
                <span class="fa fa-cube"></span>How to Solve the Rubik's Cube
            </a>
            <a class="btn btn-block btn-social btn-openid" href="https://www.worldcubeassociation.org/results/rankings/333/single">
                <span class="fa fa-trophy"></span>Global Rankings
            </a>
            <a class="btn btn-block btn-social btn-github" href="https://github.com/dgrethlein/RubixCube">
                <span class="fa fa-github"></span>Project GitHub
            </a>
            <a class="btn btn-block btn-social btn-soundcloud" href="https://dgrethlein.github.io/RubixCube/">
                <span class="fa fa-book"></span>Project Documentation
            </a>
        </div>

        <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "300px";
            }

            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </header>

    <main>
        <div class="container content" id="main">
            {% block content %}{% endblock %}
        </div>
    </main>
<body>