<! -- David Grethlein, djg329@drexel.edu -->
<! -- Rubix Cube Index Template -->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">Rubix Cube</h1>
    </div>
    <script src="js/three.js"></script>
    <script src="js/DragControls.js"></script>
    <script src="js/TransformControls.js"></script>
    <script type="module" src="js/rubix_canvas.js">
    </script>
</section>

{% endblock %}

